# Global options
{
    # Force Caddy to use internal self-signed certificates for everything
    # This completely stops Let's Encrypt from crashing when MagicDNS fails
    local_certs
    debug
    default_sni 100.73.93.94
}

# Strict IP route for HTTPS only
https://100.73.93.94 {
    tls internal
    reverse_proxy vaultwarden:80
}

vault.atom.tailnet {
    tls internal
    reverse_proxy vaultwarden:80
}

memos.atom.tailnet {
    reverse_proxy 100.73.93.94:5230
}

dna.atom.tailnet {
    reverse_proxy 100.73.93.94:8888
}

wiki.atom.tailnet {
    reverse_proxy 100.73.93.94:8081
}

audio.atom.tailnet {
    reverse_proxy 100.73.93.94:13378
}

ai.atom.tailnet {
    reverse_proxy 100.73.93.94:3000
}

agent.atom.tailnet {
    reverse_proxy 100.73.93.94:5678
}

search.atom.tailnet {
    reverse_proxy 100.73.93.94:8082
}

sync.atom.tailnet {
    reverse_proxy 100.73.93.94:8384
}

tts.atom.tailnet {
    reverse_proxy 100.73.93.94:7860
}

seerr.atom.tailnet {
    reverse_proxy 100.73.93.94:5055
}

media.atom.tailnet {
    reverse_proxy 100.73.93.94:8096
}

hub.atom.tailnet {
    basicauth {
        priscilla $2b$10$FPZp2/7tzzuqAhK9e.MKHu/GnUL5w9GW3OsW3TzHrLt6NFKZOwfsu
    }
    reverse_proxy lifehub:8086
}

dash.atom.tailnet {
    reverse_proxy drop_page:8085
}

sonarr.atom.tailnet {
    reverse_proxy 100.73.93.94:8989
}

radarr.atom.tailnet {
    reverse_proxy 100.73.93.94:7878
}

qbit.atom.tailnet {
    reverse_proxy 100.73.93.94:8088
}

prowlarr.atom.tailnet {
    reverse_proxy 100.73.93.94:9696
}
